[Unit]
Description=Docker Northstar
RefuseManualStart=no
RefuseManualStop=no
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
ExecStart=/etc/ns-docker/ns-docker.sh

[Install]
WantedBy=multi-user.target
