[Unit]
Description=Docker Northstar
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStart=/bin/bash /etc/ns-docker/ns-docker.sh

[Install]
WantedBy=multi-user.target