[Unit]
Description=Northstar SSH Tunnel
RefuseManualStart=no
RefuseManualStop=no
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStart=/etc/ns-docker/ssh-tunnel.sh

[Install]
WantedBy=multi-user.target
