[Unit]
Description=Northstar SSH Tunnel
RefuseManualStart=no
RefuseManualStop=no
Requires=network.service
After=network.service

[Service]
Type=simple
ExecStart=/bin/bash /etc/ns-docker/ssh-tunnel.sh

[Install]
WantedBy=multi-user.target